@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@200;300;400;500;600;700;800;900;1000&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}



a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style-type: none;
}
